body 
{
	color: #000;
	font-family:Monospace;
	font-size:13px;
	margin: 0px;
	overflow: hidden;
}

canvas 
{ 
	width: 100%; 
	height: 100% 
}

/** 
{
	cursor: none;
}
*/

#menu
{
	position: relative; 
	float: right;
	width: 360px; 
	height: 0px;
}

.card
{
	width: 465px; 
	height: 30px;
	overflow: hidden; 
	position: absolute;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.0); 
}

.heard
{
	font-size: 16px;
	color: #ffffff;
}

p
{
	font-size: 16px;
	padding: 10px;
}

a 
{
	-moz-transition: color 0.2s 0.02s ease;
	-o-transition: color 0.2s 0.02s ease;
	-webkit-transition: color 0.2s 0.02s ease;
	color:#F0F8FF;
}
 
a:hover 
{
	color: #B0C4DE;
}

#sound
{
	position: relative; 
	float: right;
	width: 100px; 
	height: 0px;
	padding-top: -5px;
	margin-right: 0px;
}

#oput
{
	background: linear-gradient(0deg, #888844 0%, #888844 0%, #444444 10%, #444444 100%);
}

#live
{
	background: linear-gradient(0deg, #448844 0%, #448844 100%, #884444 10%, #884444 100%);
}

#skillPush
{
	background: linear-gradient(0deg, #008B8B 0%, #008B8B 100%, #00CDCD 10%, #00CDCD 100%);
	position: relative; 
	float: right;
	width: 98px; 
	height: 19px;
	display: none;
	margin-right: -114px;
	margin-top: 89px;

}

#skillMight
{
	background: linear-gradient(0deg, #2E8B57 0%, #2E8B57 100%, #9AFF9A 10%, #9AFF9A 100%);
	position: relative; 
	float: right;
	width: 98px; 
	height: 19px;
	margin-top: 49px;
	margin-right: 15px;
	display: none;
}

#vunos
{
	background: linear-gradient(0deg, #444488 0%, #444488 100%, #884488 10%, #884488 100%);
}

.leaning
{
	position: absolute; 
	width: 600px; 
	height: 90px;
	display: none;
	border: double #8B4513 4px;
	padding: 7px;
	background-color: #ffffff; 
	margin-left: 25%;
	margin-top: 20%;
}
.text
{
	margin-top: -5px;
}

#relis
{
	width: 600px; 
	height: 90px;
}

#bouble
{
	position: absolute; 
	width: 135px; 
	height: 120px;
	display: none;
	padding: 7px;
	background-image: url(textures/bouble.png);
	margin-left: 20%;
	margin-top: 10%;
	color: #ffffff;
}

.td_s
{
	width: 35px;
	height: 35px;
	text-align:center;
}